html	{
	background-image: url("../images/webbg.png");
	background-color: #A4D5D6;
	background-repeat:no-repeat;
}
h3 {
	font-family:'rockwell', 'Arial', Tahoma, Serif;
	color: #fbac60;
	border: 2px solid;
	border-color: #12cedc;
	margin-top: 0px;  
	margin-bottom: 0px;
    text-align: center;
	background: url("https://i.pinimg.com/originals/1a/bc/4d/1abc4d7f15719e76fa8641f1f57d3751.gif");
	background-color: #A4D5D6;
}
ul {
  list-style-type: none;
  font-family: 'rockwell', 'Arial', Tahoma, Serif;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

li a{
	display: inline;
	text-decoration:none;
	display: block;
	padding:5px 21px;
	background:#90CCDE;
	color: black;
	float:left;
	text-align:center;
}
li a:visited {
	color: #3C91EB;
}
li a:hover {
	background:#90DEC0;
	color:#000;
	border:2px solid #FDC56D;
}
img {
	float: left;
    border: 2px dotted #fda03f;
    left: 20%;
}
section{
	float: right;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 20px;
}
h2 {
	font-family:'Georgia', Times, serif;
	font-weight: normal;
	padding-left: 20px;
}
.content article {
	font-family: 'Candara', 'Arial', Sans-serif;
	padding-bottom: 20px;
}
.content {
	border: 1px solid #4acfc8;
	background-color:#d0f4f2;
}
hr {
	height: 2px;
    background-color: white;
    border: none;
}


	